Bird.xcodeproj/project.xcworkspace/xcuserdata/*
*.xcuserstate

*.xcuserstate

Bird.xcodeproj/project.xcworkspace/xcuserdata/15inch.xcuserdatad/UserInterfaceState.xcuserstate

Bird.xcodeproj/project.xcworkspace/xcuserdata/15inch.xcuserdatad/UserInterfaceState.xcuserstate
